<%# <h1 style="text-align:center;">Show User</h1> %>
<%# <%link_to "edit", edit_user_path(@user)%> 
<%# <style>
  div{
    text-align:center;
    font-size:20px; %>
    <%# /* color:blue; */
 %>
  <%# /* } %>
  <%# input{
    padding:8px;
    border-radius:20px;
    margin: 5px;
  }
  textarea{
    padding:8px;
    border-radius:20px;
    margin: 5px;
  }

  ul{
    padding:8px;
    border-radius:20px;
    margin: 5px;
  }
  li{
    padding:8px;
    border-radius:20px;
    margin: 5px;
    text-align:center;
    font-size:20px;
  } %>

<%# <% </style> */ %> 
